
:root {
  --red: #d00000;
}

.App {
  text-align: center;
}

.icon {
  display:inline-block;
  height: 20px;
  width: 20px;
  margin: 0 8px;
}

.icon svg {
  transform: scale(1.5) rotate(-75deg);
  position: relative;
  top: 0px;
}

.error {
  color: var(--red);
}

.controls {
  display: inline-block;
  margin: 12px 0;
  padding: 4px;
  border: 1px solid #ddd;
}

/*
STRUCTURE
*/

body {
  overflow: hidden;
}

.user-action-container {
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:4px;
}

.form-cell {
  border: 2px solid #ddd;
  padding: 8px;
  height: 120px;
  width: 120px;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.form-cell input {
  border: 1px solid black;
  padding: 4px;
}

.form-grid button {
  margin-top: 12px;
}

.main-title {
  font-size: 24px;
}

.nav-bar {
  background-color: #ddd;
  padding: 8px 4px;
  display: flex;
  justify-content: space-around;
}

.main-container {
  padding: 4px;
}

button {
  margin: 2px;
  padding: 4px 4px;
  background-color: #eaa;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: var(--red);
  color: white;
}

.match-container {
  display: flex;
}

/*
TETRIS ITSELF
*/

.game-container {
  display: flex;  
}

.game-board {
  border-collapse: collapse;
  border: 1px solid black;
}

.game-cell {
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  margin: 0;
}

.remote .game-cell {
  width: 12px;
  height: 12px;
  border: 1px solid #ddd;
  margin: 0;
}

.next-piece .game-cell {
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  margin: 0;
}

.empty {
  background-color: white;
}

.filled {
  background-color: black;
}

.active {
  background-color:var(--red);
}

.clearing {
  animation: clear-line 0.5s infinite;
}

@keyframes clear-line {
  0% {background-color: black; border: 1px solid #ddd;}
  30% {background-color: var(--red); border: 1px solid #ddd;}
  60% {opacity: 0; border: 1px solid #ddd;}
  100% {background-color: black; border: 1px solid #ddd;}
} 

.penalty {
  animation: clear-line 1.5s infinite;
}

.game-over {
  color: var(--red);
}

.split{
  margin-top: 32px;

  display: grid;

  grid-template-columns: 3fr 1fr;
}

.main-game {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.active-matches-container {
  border: 1px solid black;
  padding: 4px;
  margin: 4px;
}

.active-matches-list {

}

.matchup:nth-child(odd) {
  /* background-color: lightpink; */
}

.win {
  background-color: lightgreen;
  color: green;
  border: 1px solid green;
  margin: 2px;
  padding: 4px;
}

.lose {
  background-color: lightpink;
  color: var(--red);
  border: 1px solid var(--red);
  margin: 2px;
  padding: 4px;
}

.spectator-container {
  display: flex;
}

.flashing {
  animation: flashing-message 2s infinite;
}

@keyframes flashing-message {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

.active-players-container {
  border: 1px solid black;
  padding: 4px;
  margin: 4px;
}

.active-players-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.challenges-container {
  border: 1px solid black;
  padding: 4px;
  margin: 4px;
}

.challenge:nth-child(odd) {
  /* background-color: lightpink; */
}

.player-display {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 4px;
  padding: 2px;
}

.space {
  margin: 4px;
}