
:root {
  --red: #d00000;
}

body {
  color: #222;
}

.App {
  text-align: center;
}

/*

SVG

*/

* {
  box-sizing: border-box;
}

.icon {
  display:inline-block;
  height: 100%;
  width: 20px;
  margin: 0 12px 0 16px;
}

.icon svg {
  transform: scale(2) rotate(-75deg);
  position: relative;
  top: -4px;
}

/*
.rect1 {
  fill: black;
}

.rect2 {
  fill: rgb(255, 237, 0);
}

.rect3 {
  fill: rgb(255, 140, 0);
}

.rect4 {
  fill: rgb(228, 3, 3);
}

.rect5 {
  fill: black;
}

.rect6 {
  fill: rgb(117, 7, 135);
}

.rect7 {
  fill: rgb(0, 77, 255);
}

.rect8 {
  fill: rgb(0, 128, 38);
}
*/

.main-title {
  font-size: 32px;
  /* text-shadow: #eaa 1px 1px; */
  /* background-color: #eaa; */
  font-weight: 500;
  padding: 0 8px;
}

/*

MAIN PAGE

*/

.error {
  color: var(--red);
}

.controls {
  display: inline-block;
  margin: 36px 0;
  padding: 12px;
}

/*
STRUCTURE
*/

body {
  overflow: hidden;
}

.user-action-container {
  padding: 4px;
  display: flex;
  justify-content: space-around;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:4px;
  margin-top: 12px;
}

.form-cell {
  /* border: 2px solid #ddd; */
  padding: 8px;
  height: 144px;
  width: 144px;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  background-color: #222;
  color: white;
}

.form-cell input {
  border: 2px solid #eaa;
  padding: 4px;
  font-size: 14px;
}

.form-grid button {
  margin-top: 12px;
  font-size: 16px;
}

.nav-bar {
  background-color: #ddd;
  padding: 8px 4px;
  display: flex;
  justify-content: space-around;
}

.main-container {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 2px;
  padding: 8px 8px;
  background-color: #eaa;
  border: 1px solid #eaa;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.2s;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--red);
  color: white;
}

.match-container {
  display: flex;
  justify-content: space-evenly;
}

/*
TETRIS ITSELF
*/

.game-container {
  display: flex;  
}

.game-board {
  border-collapse: collapse;
  border: 1px solid #222;
}

.game-cell {
  width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  margin: 0;
}

.remote .game-cell {
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  margin: 0;
}

.next-piece {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.next-piece-title { 
  margin-bottom: 8px;
}

.next-piece .game-cell {
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  margin: 0;
}

.empty {
  background-color: white;
}

.filled {
  background-color: #222;
}

.active {
  background-color:var(--red);
}

.clearing {
  animation: clear-line 0.5s infinite;
}

@keyframes clear-line {
  0% {background-color: #222; border: 1px solid #ddd;}
  30% {background-color: var(--red); border: 1px solid #ddd;}
  60% {opacity: 0; border: 1px solid #ddd;}
  100% {background-color: #222; border: 1px solid #ddd;}
} 

.penalty {
  animation: clear-line 1.5s infinite;
}

.game-over {
  color: var(--red);
}

.split{
  margin-top: 32px;

  display: grid;

  grid-template-columns: 3fr 1fr;
}

.non-split {
  margin-top: 32px;
}

.main-game {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main-game-solo {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20vw;
}

.win {
  background-color: lightgreen;
  color: green;
  border: 1px solid green;
  margin: 2px;
  padding: 4px;
}

.lose {
  background-color: lightpink;
  color: var(--red);
  border: 1px solid var(--red);
  margin: 2px;
  padding: 4px;
}

.spectator-container {
  display: flex;
  justify-content: space-around;
}

.flashing {
  animation: flashing-message 2s infinite;
}

@keyframes flashing-message {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

.lobby-wrapper {
  width: 85vw;
}

.lobby-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 12px;
  /* width: 70vw; */
  justify-items: stretch;
}

.active-matches-container,
.active-players-container,
.challenges-container {
  text-align: center;
  border: 1px solid #222;
  color: white;
  background-color: #222;
  padding: 4px 8px 8px 8px;
  margin-top: 16px;
  max-height: 25vh;
  overflow-y: auto;
}

.challenges-container {
  max-height: 36vh;
}

.active-players-container {
  max-height: 50vh;
}

.active-matches-container {
  max-height: 30vh;
  width: 85vw;
}

.active-matches-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.active-players-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.challenges-list {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.player-display, .matchup, .challenge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
  padding-left: 8px;
  background-color: white;
  color: #222;
}

.challenge {
  
}

.matchup {
  max-width: 40%;
}

.space {
  margin: 4px;
}

.rank {
  margin-left: 4px;
  background-color: #222;
  padding: 2px 6px 2px 4px;
  color: white;
}

.username {
  font-size:20px;
}

.rank-outer {
  display: inline-block;
}

.rank-display {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.main-player-display {
  display: flex;
  align-items: center;
}

.dashboard {
  margin: 4px;
  display: flex;
  flex-direction: row;
}

.waiting-for-opponent {
  font-size: 24px;
  margin: 20px 12px;
  display: flex;
  align-items: center;
}

.remote-title {
  margin-bottom: 8px;
}

.endgame {
  display: flex;
  align-items: center;
}

.remote-match-column {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-right: 48px;
  border-right: 1px solid #ddd;
}

.concede-button-container {
  margin-top: 12px;
}

/*
BACKGROUND
*/

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: -100;
  /* background-color: lime; */
}

.shape {
  animation: drop 10s linear infinite;
  position: absolute;
  top: -10px;
}

.block {
  display: inline-block;
  position: absolute;
  border-top: 1px solid white;
  border-left: 1px solid white;
  background-color: #ddd;
  width: 12px;
  height: 12px;
}

.down1 {
  top: 13px;
}

.down2 {
  top: 26px;
}

.down3 {
  top: 39px;
}

.left1 {
  left: -13px;
}

.right1 {
  left: 13px;
}

.right2 {
  left: 26px;
}

@keyframes drop {
  0% {top: 0%}
  100% {top: 100%}
}